*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: black;
}

.video-container {
    position: relative;
    width: 100%;
    /* max-width: 1000px; */
    min-width: 520px;
    max-height: 100vh;
    object-fit: contain;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    border: 1px solid magenta;
}

video {
    width: 100%;
}

.video-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 100;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.video-controls-container.chromeos-theme {
    margin: 10px 10px;
    padding: 5px 0px;
    border: 1px solid rgba(55, 55, 55, .8);
    border-radius: 500px;
    /*fallback color*/
    background-color: rgb(55, 55, 55);
    background-color: rgba(55, 55, 55, .8);
    backdrop-filter: blur(4px);
}

.video-controls-container.yt-theme {
    margin: 0px 0px;
    padding: 0px 0px;
}

.video-controls-container.yt-theme::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, black, transparent);
    width: 100%;
    aspect-ratio: 6/1;
    z-index: -1;
    pointer-events: none;
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
    opacity: 1;
}

.video-controls-container .controls {
    display: flex;
    justify-content: space-between;
    padding: .25rem .75rem;
    align-items: center;
}

.left-controls-container {
    display: flex;
    gap: 1.5rem;
}

.center-controls-container {
    display: flex;
    gap: .5rem;
}

.right-controls-container {
    display: flex;
    gap: .75rem;
}

.video-controls-container .controls button {
    background: none;
    border: none;
    /* border: 1px solid blue; */
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1rem;
    cursor: pointer;
    opacity: .8;
    transition: opacity 150ms ease-in-out;
}

.video-controls-container .controls button:hover {
    opacity: 1;
}

.video-container.paused .pause-icon {
    display: none;
}

.video-container:not(.paused) .play-icon {
    display: none;
}

.video-container.fullscreen .fscr-icon {
    display: none;
}

.video-container:not(.fullscreen) .fscr-close-icon {
    display: none;
}